@media only screen and (min-width:360px) and (max-width:1440px) {
    .container-fluid{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .image{
        width: 100%;
        height: 50%;
    }
    h2{
        text-align: left;
    }
    p{
        text-align: left;
    }
    .login{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        /* align-items: center; */
        
        /* justify-content: center; */
    }
    .logindata{
        width: 100%;
        height: 100%;
        margin-top: 6%;
    }
    .form-label{
        font-size: 13px;
        color: #414141;
        margin-bottom: 8px;
    }
    #firstname{
        font-size: 13px;
        width: 100%;
        height: 16%;
        margin-bottom: 5px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #2b64b11f;
        border: 1px solid #2B64B1;
        border-radius: 3px;
    }
    .otherinput{
        font-size: 13px;
        width: 100%;
        height: 16%;
        margin-bottom: 6px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0.97px 0.26px 3px #0000000D;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
    }
    .btn{
        width: 100%;
        height: 20%;
        background: #F8863400 0% 0% no-repeat padding-box;
        border: 2px solid #F88634;
        border-radius: 24px;
    }
    .text{
        align-items: center;
        justify-content: center;
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 29%;
    }
    .firstext{
        margin-bottom: 15px;
        font-size: 14px;
        color: #414141;
    }
    .secondtext{
        font-size: 14px;
        color: #414141;
    }
    .privacy{
        display: flex;
        justify-content: center;
        margin-top: 4%;
        color: #414141;
        font-size: 14px;
        align-items: center;
        
        /* margin-left: 42%; */
    }
    .text .secondtext a:link{
        text-decoration: none;
        color: #2B64B1;   
    }
    .btn a{
        text-decoration: none;
        color: #F88634;
    }
    }
        @media only screen and (min-width:1441px){
            body{
                width: 100%;
                height: 100%;
            }
            .container-fluid{
                display: flex;
            }
            .image{
                width: 1344px;
                height: 983px;
            }
            .paragraph1{
                text-align: left;
                font-size: 43px;
                line-height: 100%;
            }
            .paragraph2{
                text-align: left;
                font-size: 16px;
            }
            img{
                height: 983px;
                width: 1344px;
            }
           
            .login{
                display: flex;
                flex-direction: column;
                height: 983px;
                width: 576px;
                align-items: center;
               
                /* justify-content: center; */
            }
            .logindata{
                width: 417px;
                height: 779px;
                margin-top: 100px;
            }
            .form-label{
                font-size: 16px;
                color: #414141;
                margin-bottom: 10px;
            }
            #firstname{
                font-size: 16px;
                width: 401px;
                height: 56px;
                margin-bottom: 23px;
                background: transparent url('img/Rounded Rectangle 2 copy 3.png') 0% 0% no-repeat padding-box;
                box-shadow: 0px 0px 10px #2B64B11F;
                border: 1px solid #2B64B1;
                border-radius: 3px;
            }
            .otherinput{
                font-size: 16px;
                width: 405px;
                height: 60px;
                margin-bottom: 25px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0.97px 0.26px 3px #0000000D;
                border: 1px solid #D9D9D9;
                border-radius: 3px;
            }
            .btn{
                width: 401px;
                height: 48px;
                background: #F8863400 0% 0% no-repeat padding-box;
                border: 2px solid #F88634;
                border-radius: 24px;
            }
            .text{
                align-items: center;
                justify-content: center;
                margin-top: 17px;
                display: flex;
                flex-direction: column;
                width: 402px;
                height: 50px;
            }
            .firstext{
                margin-bottom: 16px;
                font-size: 14px;
                color: #414141;
            }
            .text .firstext a:link{
                text-decoration: none;
                color: #414141;}
            
            .privacy{
                margin-top: 61px;
                color: #414141;
                font-size: 14px;
                display: flex;
                justify-content: center;
            }
            .text .secondtext a:link{
                text-decoration: none;
                color: #2B64B1;
            }
            .btn a{
                text-decoration: none;
                color: #F88634;
            }
            }